<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe illum obcaecati optio mollitia amet exercitationem corrupti rerum expedita fuga. Id ad nihil sapiente, asperiores distinctio explicabo ut dignissimos? Eaque, recusandae.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore dolor fugit, fuga repudiandae minus eos. Voluptatibus incidunt quae exercitationem quia consectetur deleniti soluta. Non, culpa voluptates rem corrupti illum explicabo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem amet ex, odit numquam incidunt tenetur alias ratione eum reiciendis, blanditiis totam aperiam. Officiis exercitationem sed quod natus aliquam necessitatibus asperiores.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>